<div *ngIf="menu !== null" class="container mx-auto">
  <h2 class="text-2xl px-3 mt-7 font-medium uppercase">{{ menu.name}}</h2>
  <h3 class="text-xl px-3 mt-3 uppercase">Meals</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 mt-5">
    <ng-container *ngFor="let item of menu.meals">
      <app-meal-card [meal]="item" [selected]="item.selected === true" (click)="orderItem(item)"></app-meal-card>
    </ng-container>
  </div>
  <ng-container *ngIf="menu.sauces">
    <h2 class="text-xl px-3 mt-7 uppercase">Sauces</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-5">
      <ng-container *ngFor="let sauce of menu.sauces">
        <app-meal-card [meal]="sauce" [selected]="sauce.selected === true"
                       (click)="orderItem(sauce, true)"></app-meal-card>
      </ng-container>
    </div>
  </ng-container>

</div>
